@import "../masks.scss";

.circle-background {
  animation-iteration-count: infinite;
  animation-duration: 5s;

  .circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));

    .circle {
      border-radius: 50%;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      @include textureMask;  
    }
  }
}
