.square-background {
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.square-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.square {
  animation-iteration-count: infinite;
  animation-duration: 5s;
  mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
  -webkit-mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
}