.CanvasContainer {
  width: 100%;
  height: 100%;
  background: #15333a;
  display: flex;
  align-items: center;
  justify-content: center;

  .Canvas {
    background: #d0d0d0;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3)); 
  }
}
