@import "../masks.scss";

.triangle-background {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-iteration-count: infinite;
  animation-duration: 5s;

  .triangle-wrapper {
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3)); 

    .triangle {
      animation-iteration-count: infinite;
      animation-duration: 5s;
      @include textureMask;
    }
  }
}
