.CanvasContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #15333a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Canvas {
    background: #d0d0d0;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 5px;
}